.List {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(130, 125, 125, 0.153) 0px 15px 25px;
    width: 100vw;
    padding: 20px 20px 40px;
    font-size: medium;
    text-align: center;
    border-radius: 24px;
    display: block;
}

.filters {
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
}
.dateFilter {
    margin-right: 18px;
}
.phaseFilter {
    margin-right: 10px;
}

.btn {
    background-color: rgb(72, 61, 139);
    color: rgb(255, 255, 255);
    font-family: Avenir;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
    margin-left: 10px;
    text-align: center;
    border-spacing: 10px;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    width: 1000px;
    display: table-cell;
    vertical-align: inherit;
}

/* Search bar */
input[type="search"] {
    width: 100%;
    max-width: 400px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Dropdown */
  select {
    width: 100%;
    max-width: 400px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    background-color: #F8F8F8;
    border-radius: 5px;
    font-size: 16px;
    appearance: none;
    background: url('path/to/arrow-icon.svg') no-repeat right center / 24px;
  }
  
  /* Dropdown arrow icon */
  select::-ms-expand {
    display: none;
  }
  
  /* Placeholder text */
  option[disabled] {
    display: none;
  }
  
  /* Hover and focus states */
  input[type="search"]:hover,
  input[type="search"]:focus,
  select:hover,
  select:focus {
    border-color: #666;
    outline: none;
  }
  
  /* Disabled state */
  input[type="search"]:disabled,
  select:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  

  .search-bar {
    display: flex;
    align-items: left;
    margin-right: 10px;
    height: 48px;
    width: 200px;
    max-width: 400px;
    background-color: #F8F8F8;
    border-radius: 24px;
    padding: 0 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar__input {
    flex-grow: 1;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #2E2E2E;
  }
  
  .search-bar__input:focus {
    outline: none;
  }
  
  .search-bar__icon {
    height: 24px;
    margin-right: 16px;
    fill: #2E2E2E;
  }
  