.Chart {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(130, 125, 125, 0.153) 0px 15px 25px;
    width: 100vw;
    padding: 20px 20px 40px;
    font-size: medium;
    text-align: center;
    border-radius: 24px;
    display: block;
    margin-bottom: 20px;
    
}